---
import background from '~/assets/splash/background.jpg';
import {Image} from '@astrojs/image/components';
import iPhone from '~/assets/splash/iPhone.png';
import WaitlistForm from '../shared/waitlist-form';
import {Icon} from 'astro-icon';
import {Trans} from 'astro-i18next/components';
---

<section class="relative h-full bg-black text-white">
  <div class="absolute inset-0 overflow-hidden h-screen w-full">
    <Image src={background} alt="" class="w-full h-full" />
    <div class="w-full bg-black h-64 -mt-32 blur-3xl"></div>
  </div>
  <div class="relative h-full flex flex-col items-center pt-52 flex-1 justify-start space-y-16 pb-32">
    <h2 class="text-center mx-2.5 text-8xl">
      <Trans i18nKey="splash.headline">
        WIE EINE <span class="text-pink-400 font-thin font-serif">bank</span><br />
        ABER BESSER IN<br />
        <span class="text-primary font-thin font-serif">jedem</span> ASPEKT
      </Trans>
    </h2>
    <div><WaitlistForm client:load /></div>
    <div class="mx-16">
      <Image src={iPhone} alt="iPhone 13 with Screenshot of the Superlight App" />
    </div>
  </div>
  <div class="wrapper text-black bg-primary flex">
    <a class="py-2 text-lg marquee flex" href="https://zmartup.com" target="_blank">
      <span class="sr-only">Go to crowd Investing Page in new Tab</span>
      <p aria-hidden="true">
        <Icon name="arrow-link" class="mx-6 h-6" />
        FINANZIERUNGSRUNDE IST AKTIV
        <Icon name="arrow-link" class="mx-6 h-6" />
        SICHERE DIR DEINEN ANTEIL
        <Icon name="arrow-link" class="mx-6 h-6" />
        INVESTIERE JETZT
        <Icon name="arrow-link" class="mx-6 h-6" />
        FINANZIERUNGSRUNDE IST AKTIV
        <Icon name="arrow-link" class="mx-6 h-6" />
        SICHERE DIR DEINEN ANTEIL
      </p>
      <p aria-hidden="true">
        <Icon name="arrow-link" class="mx-6 h-6" />
        FINANZIERUNGSRUNDE IST AKTIV
        <Icon name="arrow-link" class="mx-6 h-6" />
        SICHERE DIR DEINEN ANTEIL
        <Icon name="arrow-link" class="mx-6 h-6" />
        INVESTIERE JETZT
        <Icon name="arrow-link" class="mx-6 h-6" />
        FINANZIERUNGSRUNDE IST AKTIV
        <Icon name="arrow-link" class="mx-6 h-6" />
        SICHERE DIR DEINEN ANTEIL
      </p>
    </a>
  </div>
  <style>
    @media (prefers-reduced-motion) {
      .marquee {
        animation: none;
      }
    }

    .wrapper {
      max-width: 100%;
      overflow: hidden;
    }

    .marquee {
      white-space: nowrap;
      animation: marquee 10s linear infinite;
      display: flex;
      flex-direction: row;
    }

    .marquee p {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  </style>
</section>
