---
import Footer from '~/components/layout/footer.astro';

const {site} = Astro;
const image = new URL('social.png', site);
const description = 'Superlight. Send, recieve and pay with Cryptocurrency. Without transactioncosts.';
import '@fontsource/nunito/400.css';
import '@fontsource/nunito/800.css';
import '@fontsource/nunito/200.css';
import '@fontsource/source-serif-4/400.css';
---

<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>Superlight</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Superlight" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white">
    <slot />
    <Footer />
  </body>
</html>
